@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/* GlOBALS ----------------------------------------------------------------------------------------------------------*/

:root {
  --primary-color-100: #B6B79E;
  --primary-color-200: #8E7B5E;
  --primary-color-300: #FFFFE7;
  --primary-color-400: #000000;

  --secondary-color-200: #9c8765;
  --secondary-color-400: #7f7b7b;

  --primary-font: 'Inter', sans-serif;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-color-100);
  margin: 0;
  padding: 0;
}

.screen button {
  background-color: var(--primary-color-200);
  color: var(--primary-color-400);
  border-radius: 0.5rem;
  border: none;
  width: 14rem;
  height: 4rem;
  font-size: 1.34rem;
  font-weight: bold;
  font-family: var(--primary-font);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2.5rem;
}

button:hover {
  background-color: var(--secondary-color-200);
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.components {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

/* COMPONENT MENU ----------------------------------------------------------------------------------------------------------*/

.components h1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--primary-color-400);
}

.components h3 {
  font-size: 1.4rem;
  font-weight: semi-bold;
  color: var(--primary-color-300);
}

/* COMPONENT GAME ----------------------------------------------------------------------------------------------------------*/

.board {
  display: flex;
  margin: 1.4rem auto;
}

.square {
  display: flex;
  width: 7rem;
  height: 7rem;
  margin: 0.5rem 0.3rem 0.5rem 0.3rem;
  background-color: var(--primary-color-300);
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.square img {
  margin: 2rem 2rem;
}

/* COMPONENT GAME OVER ----------------------------------------------------------------------------------------------------------*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.83);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
  color: var(--primary-color-300);
  border-radius: 10px;
  text-align: center;
  background-color: var(--secondary-color-300);
}

.content {
  margin-top: 10rem;
}

.content h1 {
  font-size: 2rem;
  color: var(--primary-color-300);
}

.content img {
  width: 3rem;
  height: 2rem;
  padding-inline: 0.5rem;
  position: relative;
}

.img-conffeti img {
  position: absolute;
  max-height: 55%;
  min-height: 50%;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.7;
}

/* ANIMATIONS AND MEDIA QUERIES ------------------------------------------------------------------------------------------------*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 50rem) {
  .components h1 {
    font-size: 2.3rem;
  }

  .components h3 {
    font-size: 1.2rem;
  }

  .content h1 {
    font-size: 1.8rem;
  }

  .screen button {
    width: 12rem;
    height: 4rem;
    font-size: 1.2rem;
  }

  .square {
    width: 6.2rem;
    height: 6.2rem;
  }

  .square img {
    margin: 1.8rem 1.8rem;
  }
}

